body{
  font-family: sans-serif;
}

nav{

}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
background: #2e2e2a;
  line-height: 45px;

}

li{
  width: 100px;
  display: inline-block;
  text-align: center;
}
a{
  text-decoration: none;
  display: block;
 color: #fff;
}
a:hover{
  background: #f9a91a;
  color: #000;
}
